@import './normalize.css';

h1,
h2,
h3 {
  font-family: "Libre Franklin", sans-serif;
}

.graphic-title {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  padding-bottom: 10px;
}
.graphic-sub {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
}

.chart-container {
  padding: 70px 0;
}
/* bill styling */

h1.header {
  font-family: "Courier New", Courier, monospace !important;
  font-weight: 200;
  text-align: center;
  line-height: 1;
  font-size: .75em;
  opacity: 1 !important;
}

.leg-desc {
  font-size: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1 !important;
}

.line {
   font-size: .5em; 
  display: flex;
  align-items: baseline;
}

.line-num {
  min-width: 2.2em;
  text-align: left;
  flex-shrink: 0;
  color: #888;
  font-variant-numeric: tabular-nums;
  line-height: 0;
  vertical-align: baseline;
  display: inline-block;
  opacity: 1 !important;
}
.bill-box {
  display: flex-grid;
  max-width: 700px;
   margin: auto;
}

.bill-row {
  position: flex;
}

.small-bill {
  width: 75px;
  height: 100px;
  background: white;
  display: inline-block;
  text-align: left;
  overflow-y: hidden;
  word-wrap: break-word;
  hyphens: auto;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 5px 5px ;
  padding: 2px;
}

.bill {
  width: 300px;
  height: 400px;
  padding: 14px;
  margin: 0 8px;
  background: white;
  display: inline-block;
  text-align: left;
  word-wrap: break-word;
  overflow-y: hidden;
  hyphens: auto;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.bill.scroll-bill {
  overflow-y: scroll;
}

.bill-content, .small-bill-content {
  font-family: "Courier New", Courier, monospace !important;
  color: black;
  width: 100%;
  text-align: left;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

  .original-bill {
    background-color: #fffff2;
  }


.bill-content p, .original-bill p{
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.small-bill-content {
  font-size: 0.12rem;
}

.small-bill-content-header {
  font-size: 0.5rem !important;
  font-weight: 700;
  text-align: center;
}

